body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.2rem;
  font-size: 16px;
  width: 100%;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
  font-weight: 400;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.container {
  max-width: 1180px;
  margin: auto;
  padding: 0 20px;
}
