@use "mixin" as *;

body {
  width: 100%;
  line-height: 1.5;
  color: #333333;
  font-size: 1.6rem;
  font-family: "Noto Sans JP", sans-serif;
}
html {
  font-weight: 400;
  font-size: 62.5%;
}

@media (max-width: 1000px) {
  html {
    font-size: 50%;
  }
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.container {
  max-width: 1020px;
  margin: auto;
  padding: 0 20px;
}

.button {
  display: block;
  width: 155px;
  max-width: 100%;
  padding: 10px 35px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(to right, #fa41cc, #6020b0);
  background-color: red;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.4rem;
  text-align: center;
}
.button:hover {
  opacity: 0.7;
}
.button--header {
  @include mq(tab) {
    display: none;
  }
}
.button--center {
  margin: auto;
}
.section__title {
  padding-top: 64px;
  padding-bottom: 20px;
  font-size: 3.2rem;
  text-align: center;
  font-weight: bold;
}
.section__sub-title {
  display: block;
  color: #3ba6c9;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 30px;
}
.section__title--wthite {
  color: #ffffff;
}
.section__sub-title--white {
  color: #ffffff;
}

.badge {
  margin-left: 10px;
  padding: 4px 16px;
  border-radius: 10px;
  background-color: #0c449b;
  color: #ffffff;
}

br {
  @include mq(sp) {
    display: none;
  }
}
