@use "mixin" as *;

.blog {
  padding-bottom: 90px;
  background-color: #eefbfb;
  &__card-wrap {
    @include mq(tab) {
      display: block;
      text-align: center;
    }
    display: flex;
    justify-content: center;
    padding: 0 30px;
    padding-top: 55px;

    gap: 0 30px;
  }
  &__card {
    @include mq(tab) {
      margin-bottom: 30px;
    }
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 40px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    background-color: #ffffff;
    p {
      font-weight: bold;
      font-size: 1.8rem;
      @include mq(sp) {
        text-align: start;
      }
      @include mq(tab) {
        text-align: start;
        font-size: 2.6rem;
      }
    }
    time {
      @include mq(tab) {
        margin-top: 20px;
      }
      position: absolute;
      right: 35px;
      bottom: 10px;
      color: #444444;
      font-weight: bold;
    }
  }
  &__card-inner {
    padding: 18px 18px;
  }
  &__title {
    @include mq(tab) {
      padding: 10px 0;
    }
  }
}
