@use "mixin" as *;

.contact {
  padding-bottom: 70px;
  background-image: linear-gradient(to right, #05a5fa, #63fbd7);
  background-color: #05a5fa;
  &__input-name {
    width: 65%;
  }
  &__input-email {
    width: 65%;
  }
  &__title {
    @include mq(sp) {
      text-align: start;
    }
    padding-top: 42px;
    padding-bottom: 44px;
    color: #ffffff;
    line-height: 19px;
    text-align: center;
  }
  &__wrap {
    display: flex;
    flex-direction: column;

    gap: 30px 0;
  }
  &__form {
    @include mq(sp) {
      padding: 20px 20px;
    }
    display: flex;
    flex-direction: column;
    padding: 40px 64px;
    background-color: #ffffff;
    input {
      padding: 8px 0;
      background-color: #eefbfb;
    }
    textarea {
      background-color: #eefbfb;
    }
  }
  &__center {
    margin-top: 33px;
    text-align: center;
    button {
      margin-top: 33px;
    }
  }
}
