.faq {
  margin-bottom: 86px;
  &__question {
    padding: 20px 0;
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
    border: solid 1px #e5e5e5;
  }
  &__answer {
    display: none;
    padding: 20px 35px;
    background-color: #f2f2f2;
    font-size: 1.4rem;
    line-height: 26px;
    text-align: center;
    text-align: left;
    border: solid 1px #e5e5e5;
  }
}
