@use "mixin" as *;

.main-visual {
  background: url(../img/楕円形\ 1.png) no-repeat;
  background-position: 85% 105%;
  margin-bottom: 125px;
  &__wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 200px;
    button {
      @include mq(tab) {
        margin: auto;
      }
    }

    @include mq(tab) {
      display: block;
      text-align: center;
    }
  }
  &__title {
    font-size: 3.2rem;
    line-height: 38px;
    font-weight: bold;
  }
  &__sub-title {
    line-height: 19px;
    font-weight: bold;
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 38px 0;
  }
}
