@mixin lineHeightSpaceFill($line-height) {
  &::before, &::after {
    display: block;
    width: 0;
    height: 0;
    content: "";
  }
  &::before {
    margin-top: calc((1 - #{$line-height}) * .5em);
  }
  &::after {
    margin-bottom: calc((1 - #{$line-height}) * .5em);
  }
}

$breakpoint: (
  sp: "screen and (max-width: 375px)",
  tab: "screen and (max-width: 780px)",
  pc: "screen and (max-width: 960px)",
);

@mixin mq($bp) {
  @media #{map-get($breakpoint, $bp)} {
    @content;
  }
}