@use "mixin" as *;

.price {
  background-color: #eefbfb;
  &__table {
    @include mq(tab) {
      width: 100%;
      text-align: center;
    }
    margin-top: 65px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    font-weight: bold;
    border-collapse: collapse;
    tbody {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    }
    th {
      @include mq(tab) {
        display: block;
        width: 100%;
        text-align: center;
      }
      width: 6%;
      padding: 40px;
      border: solid 1px#dddddd;
      border-collapse: collapse;
    }
    td {
      @include mq(tab) {
        display: block;
        width: 100%;
      }
      width: 15%;
      padding: 40px;
      border: solid 1px#dddddd;
      border-collapse: collapse;
    }
  }
  &__postscript {
    display: block;
    padding-top: 40px;
    padding-bottom: 70px;
    color: #444444;
    font-weight: bold;
    text-align: center;
  }
}
