@use "mixin" as *;

.price {
  background-color: #eefbfb;
  &__table {
    margin-top: 65px;
    background-color: #fff;
    border-collapse: collapse;
    border: 1px solid #333;
    font-weight: bold;
    @include mq(tab) {
      width: 100%;
      text-align: center;
    }
    th {
      border-collapse: collapse;
      border: solid #dddddd;
      padding: 40px;
      width: 6%;
      @include mq(tab) {
        display: block;
        width: 100%;
        text-align: center;
      }
    }
    td {
      border-collapse: collapse;
      border: solid #dddddd;
      padding: 40px;
      width: 15%;
      @include mq(tab) {
        display: block;
        width: 100%;
      }
    }
  }
  &__postscript {
    display: block;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 70px;
    font-weight: bold;
    color: #444444;
  }
}
