@use "mixin" as *;

.swiper {
  margin-bottom: 90px;
}

.swiper-wrapper {
  padding-top: 70px;
  margin: auto;
}

.swiper-slide {
  @include mq(sp) {
    margin: auto;
  }
  margin: auto;
  padding-bottom: 26px;
  border: solid 1px #dddddd;
  border-radius: 8px;
  img {
    width: 100%;
  }
  :hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

.works__text {
  padding: 12px;
  font-weight: bold;
  h3 {
    padding-bottom: 34px;
    font-weight: bold;
    line-height: 24px;
  }
  p {
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 24px;
  }
}
