@use "mixin" as *;

.swiper {
  margin-bottom: 90px;
}

.swiper_box {
  max-width: 320px;
  padding-bottom: 26px;
  border: solid #dddddd;
  border-radius: 8px;
  @include mq(sp) {
    margin: auto;
  }
}
.swiper-wrapper {
  padding-top: 70px;
  width: 500px;
}

.swiper-slide {
}

.works__text {
  padding: 12px;
  font-weight: bold;
  h3 {
    padding-bottom: 34px;
    font-weight: bold;
    line-height: 24px;
  }
  p {
    font-weight: bold;
    line-height: 24px;
    font-size: 1.4rem;
  }
}
