@charset "UTF-8";
body {
  width: 100%;
  color: #333333;
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
}

html {
  font-weight: 400;
  font-size: 62.5%;
  line-height: 1.5;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.container {
  max-width: 1020px;
  margin: auto;
  padding: 0 20px;
}

.button {
  display: block;
  width: 155px;
  max-width: 100%;
  padding: 10px 35px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(to right, #fa41cc, #6020b0);
  background-color: red;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.4rem;
  text-align: center;
}

@media screen and (max-width: 780px) {
  .button--header {
    display: none;
  }
}

.button--center {
  margin: auto;
}

.section__title {
  padding-top: 64px;
  padding-bottom: 20px;
  font-size: 3.2rem;
  text-align: center;
  font-weight: bold;
}

.section__sub-title {
  display: block;
  color: #3ba6c9;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.section__title--wthite {
  color: #ffffff;
}

.section__sub-title--white {
  color: #ffffff;
}

.badge {
  margin-left: 10px;
  padding: 4px 16px;
  border-radius: 10px;
  background-color: #0c449b;
  color: #ffffff;
}

@media screen and (max-width: 375px) {
  br {
    display: none;
  }
}

.blog {
  padding-bottom: 90px;
  background-color: #eefbfb;
}
.blog__card-wrap {
  display: flex;
  justify-content: center;
  padding: 0 30px;
  padding-top: 55px;
  gap: 0 30px;
}
@media screen and (max-width: 780px) {
  .blog__card-wrap {
    display: block;
    text-align: center;
  }
}
.blog__card {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 40px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  background-color: #ffffff;
}
@media screen and (max-width: 780px) {
  .blog__card {
    margin-bottom: 30px;
  }
}
.blog__card p {
  font-weight: bold;
  font-size: 1.8rem;
}
@media screen and (max-width: 375px) {
  .blog__card p {
    text-align: start;
  }
}
@media screen and (max-width: 780px) {
  .blog__card p {
    text-align: start;
    font-size: 2.6rem;
  }
}
.blog__card time {
  position: absolute;
  right: 35px;
  bottom: 10px;
  color: #444444;
  font-weight: bold;
}
@media screen and (max-width: 780px) {
  .blog__card time {
    margin-top: 20px;
  }
}
.blog__card-inner {
  padding: 18px 18px;
}
@media screen and (max-width: 780px) {
  .blog__title {
    padding: 10px 0;
  }
}

.contact {
  padding-bottom: 70px;
  background-image: linear-gradient(to right, #05a5fa, #63fbd7);
  background-color: #05a5fa;
}
.contact__input-name {
  width: 65%;
}
.contact__input-email {
  width: 65%;
}
.contact__title {
  padding-top: 42px;
  padding-bottom: 44px;
  color: #ffffff;
  line-height: 19px;
  text-align: center;
}
@media screen and (max-width: 375px) {
  .contact__title {
    text-align: start;
  }
}
.contact__wrap {
  display: flex;
  flex-direction: column;
  gap: 30px 0;
}
.contact__form {
  display: flex;
  flex-direction: column;
  padding: 40px 64px;
  background-color: #ffffff;
}
@media screen and (max-width: 375px) {
  .contact__form {
    padding: 20px 20px;
  }
}
.contact__form input {
  padding: 8px 0;
  background-color: #eefbfb;
}
.contact__form textarea {
  background-color: #eefbfb;
}
.contact__center {
  margin-top: 33px;
  text-align: center;
}
.contact__center button {
  margin-top: 33px;
}

.faq {
  margin-bottom: 86px;
}
.faq__question {
  padding: 20px 0;
  font-weight: bold;
  font-size: 1.4rem;
  text-align: center;
  border: solid 1px #e5e5e5;
}
.faq__answer {
  display: none;
  padding: 20px 35px;
  background-color: #f2f2f2;
  font-size: 1.4rem;
  line-height: 26px;
  text-align: center;
  text-align: left;
  border: solid 1px #e5e5e5;
}

.feature {
  margin-bottom: 156px;
}
.feature__main-title {
  padding-top: 35px;
  padding-bottom: 54px;
  font-weight: bold;
  font-size: 2.8rem;
  text-align: center;
}
.feature__box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
@media screen and (max-width: 780px) {
  .feature__box {
    display: block;
    text-align: center;
  }
}
.feature__box-title {
  display: block;
}
.feature__box-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.feature__box-text h3 {
  padding-bottom: 54px;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 48px;
}
@media screen and (max-width: 375px) {
  .feature__box-text h3 {
    text-align: start;
  }
}
.feature__box-text span {
  line-height: 26px;
  font-weight: bold;
}
@media screen and (max-width: 375px) {
  .feature__box-text span {
    text-align: start;
  }
}
.feature__box--reverse {
  flex-direction: row-reverse;
}

.header {
  position: fixed;
  z-index: 99999;
  width: 100%;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 94px;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo h1 {
  padding-left: 16px;
  font-weight: bold;
  font-size: 2.4rem;
}
.header__list {
  display: flex;
  gap: 0 46px;
}
@media screen and (max-width: 780px) {
  .header__list {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.header__item {
  font-weight: bold;
  font-size: 1.6rem;
}
@media screen and (max-width: 780px) {
  .header__item {
    padding-bottom: 100px;
    font-size: 3.5rem;
    text-align: center;
  }
}

.main-visual {
  margin-bottom: 100px;
  background: url(../img/楕円形\ 1.png) no-repeat;
  background-position: 85% 105%;
}
.main-visual__wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 260px;
}
@media screen and (max-width: 780px) {
  .main-visual__wrap {
    display: block;
    text-align: center;
    padding-top: 200px;
  }
}
@media screen and (max-width: 780px) {
  .main-visual__wrap button {
    margin: auto;
  }
}
.main-visual__title {
  font-weight: bold;
  font-size: 3.2rem;
  line-height: 50px;
  margin-bottom: 30px;
}
@media screen and (max-width: 375px) {
  .main-visual__title {
    font-size: 3rem;
  }
}
.main-visual__sub-title {
  font-weight: bold;
  line-height: 27px;
  margin-bottom: 32px;
}
.main-visual__text {
  display: flex;
  flex-direction: column;
}

.price {
  background-color: #eefbfb;
}
.price__table {
  margin-top: 65px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
  font-weight: bold;
  border-collapse: collapse;
}
@media screen and (max-width: 780px) {
  .price__table {
    width: 100%;
    text-align: center;
  }
}
.price__table th {
  width: 6%;
  padding: 40px;
  border: solid 1px #dddddd;
  border-collapse: collapse;
}
@media screen and (max-width: 780px) {
  .price__table th {
    display: block;
    width: 100%;
    text-align: center;
  }
}
.price__table td {
  width: 15%;
  padding: 40px;
  border: solid 1px #dddddd;
  border-collapse: collapse;
}
@media screen and (max-width: 780px) {
  .price__table td {
    display: block;
    width: 100%;
  }
}
.price__postscript {
  display: block;
  padding-top: 40px;
  padding-bottom: 70px;
  color: #444444;
  font-weight: bold;
  text-align: center;
}

.swiper {
  margin-bottom: 90px;
}

.swiper_box {
  max-width: 320px;
  padding-bottom: 26px;
  border: solid 1px #dddddd;
  border-radius: 8px;
}
@media screen and (max-width: 375px) {
  .swiper_box {
    margin: auto;
  }
}

.swiper-wrapper {
  width: 500px;
  padding-top: 70px;
}

.works__text {
  padding: 12px;
  font-weight: bold;
}
.works__text h3 {
  padding-bottom: 34px;
  font-weight: bold;
  line-height: 24px;
}
.works__text p {
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 24px;
}

.footer__wrap {
  text-align: center;
}
.footer__wrap span {
  padding-left: 30px;
  font-weight: bold;
}
@media screen and (max-width: 780px) {
  .footer__wrap span {
    display: block;
    width: 100%;
    padding-bottom: 20px;
    padding-left: 0;
    text-align: center;
  }
}
.footer__title {
  padding: 50px 0 30px;
  font-weight: bold;
  font-size: 2.4rem;
}
.footer__copy {
  padding: 60px 0 50px;
  font-size: 1.4rem;
}

.js-drawer-btn {
  display: none;
}
@media screen and (max-width: 780px) {
  .js-drawer-btn {
    display: block;
    position: relative;
    width: 40px;
    height: 32px;
  }
}

@media screen and (max-width: 780px) {
  .js-drawer-btn span {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background: #000000;
  }
}

@media screen and (max-width: 780px) {
  .js-drawer-btn span:nth-child(1) {
    top: 0;
  }
}

@media screen and (max-width: 780px) {
  .js-drawer-btn span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
}

@media screen and (max-width: 780px) {
  .js-drawer-btn span:nth-child(3) {
    top: 100%;
    transform: translateY(-100%);
  }
}

@media screen and (max-width: 780px) {
  .js-drawer-btn.open span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
  }
}

@media screen and (max-width: 780px) {
  .js-drawer-btn.open span:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 780px) {
  .js-drawer-btn.open span:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
  }
}

@media screen and (max-width: 780px) {
  .js-drawer-nav {
    opacity: 0.8;
    position: fixed;
    top: 90px;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: #ffffff;
    transition: right 0.5s;
  }
}

@media screen and (max-width: 780px) {
  .js-drawer-nav.open {
    right: 0;
  }
}

/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */